@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shrim-green: #114133;
  --shrim-green-light: #165643;
  --shrim-gold: #c69934;
  --shrim-gold-light: #dcb33f;
  --shrim-blue: #3972b5;
  --shrim-blue-light: #4c87c9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-shrim-green: var(--shrim-green);
  --color-shrim-green-light: var(--shrim-green-light);
  --color-shrim-gold: var(--shrim-gold);
  --color-shrim-gold-light: var(--shrim-gold-light);
  --color-shrim-blue: var(--shrim-blue);
  --color-shrim-blue-light: var(--shrim-blue-light);
  --font-sans: var(--font-inter);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}