@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shrim-green: #135936;
  --shrim-green-light: #126343;
  --shrim-gold: #c69f2e;
  --shrim-gold-light: #dcb33f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-shrim-green: var(--shrim-green);
  --color-shrim-green-light: var(--shrim-green-light);
  --color-shrim-gold: var(--shrim-gold);
  --color-shrim-gold-light: var(--shrim-gold-light);
  --font-sans: var(--font-inter);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}